#upload-document-btn {
  margin-top: 50px;
  width: 200px;
  height: 200px;
  opacity: 80%;
  border-radius: 30px;
  outline: 3px dashed #1371cc;
  border: 1px solid #37b6e5;
  color: #1371cc;
}
#upload-document-btn:hover{
  opacity: 100%;
}
#file-name {
  margin-top: 30px;
}

.users-wrapper h3{
  margin-top: 5px;
  color: #37b6e5;
}
.users-list {
  box-sizing: border-box;
  overflow: auto;
  border: 1px solid #37b6e5;
  height: 400px;
  border-radius: 30px;
}

.list-group-item {
  padding: 20px;
}

.list-group-item:hover {
  background-color: rgb(49, 167, 221);
  cursor: pointer;
  overflow: auto;
}
